<!-- NAVBAR -->
<div
  class="flex flex-row items-center justify-between border-b-1 border-black px-6 py-2"
>
  <!-- NAVBAR LEFT CONTENT -->
  <div class="flex flex-row items-center gap-1">
    <button class="cursor-pointer rounded-full p-3 hover:bg-gray-300">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="20"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
        (click)="onToggleSidenav()"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
        />
      </svg>
    </button>
    <span class="text-md text-2xl font-normal text-gray-900"
      >Expense Tracker</span
    >
  </div>

  <!-- NAVBAR RIGHT CONTENT -->
  <div>
    <button
      mat-raised-button
      color="primary"
      style="background-color: #f6339a"
      (click)="onLogout()"
    >
      <mat-icon class="text-white" style="color: white"> logout</mat-icon>
      <p class="text-white">Log Out</p>
    </button>
  </div>
</div>
