/* You can add global styles to this file, and also import other style files */
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @plugin "tailwindcss-primeui"; */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.light {
  --backgroud-page: #ffffff;
  --background-component: #ffffff;
  --background-component-active: #ecf3ff;
  --primary: #465fff;
  --headline: #1d2939;
  --headline-active: #465fff;
  --sub-headline: #8b93a3;
  --border: #e5e7eb;
}

.dark {
  --backgroud-page: #101828;
  --background-component: #171f2e;
  --background-component-active: #1d2959;
  --primary: #465fff;
  --headline: #ffffff;
  --headline-active: #7592ff;
  --sub-headline: #9ca3af;
  --border: #1f2937;
}

@theme {
  --color-background: 0 0% 100%; /* #FFFFFF */
  --color-sub-background: #f9fafb;
  --color-button: #5e74fd;
  --color-primary: #5e74fd;
  --color-button-text: 257 27% 16%; /* #1f1235 */
  --color-headline: #1d2939;
  --color-sub-headline: #8b93a3;
  --color-stroke: 257 27% 16%; /* #1f1235 */
  --color-main: 0 0% 100%; /* #FFFFFF */
  --color-highlight: 0 100% 72%; /* #ff6e6c */
  --color-secondary: 263 13% 47%; /* #67568c */
  --color-tertiary: 44 96% 72%; /* #fbd074 */
}
